body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #d35400;
}

.mission-info {
    max-width: 800px;
    margin: 0 auto 30px auto;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #fff;
    padding: 15px 20px;
    border-left: 4px solid #d35400;
    border-radius: 5px;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 20px;
}

th {
    background-color: #d35400;
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ffe6cc;
}



.official-site {
    max-width: 800px;
    margin: 30px auto 0 auto;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    padding: 15px 20px;
    border-left: 4px solid #d35400;
    border-radius: 5px;
}

.official-site a {
    color: #d35400;
    text-decoration: none;
    font-weight: bold;
}

.official-site a:hover {
    text-decoration: underline;
}
